.categories-list{
    float:left;
	background: none repeat scroll 0 0 #FAFAFA;
    box-shadow: 3px 3px 3px rgba(222, 222, 222, 0.8);
}
.categories-list td{
    padding:5px 10px;
}
.categories-list table{border-collapse:collapse;}
.categories-list .tr1{
	background: none repeat scroll 0 0 #F0F0F0;
	text-align: center;
}
.categories-list .tr1 td{
    border:1px solid #9E9E9E;
}
.categories-list .tr2{
    border-left:1px solid #9E9E9E;
	border-right:1px solid #9E9E9E;
	border-bottom:1px solid #9E9E9E;
}
.categories-list .tr3{
    border-left:1px solid #9E9E9E;
	border-right:1px solid #9E9E9E;
	border-top:1px solid #9E9E9E;
}
#theme-menu span.m8 {
  background-position: -116px 0;
}
#contextual-help-link-wrap{display:none}.wrap{padding:10px;width:930px;font-size:12px; line-height:24px;}body,td,input,textarea,em{font-family:"Century Gothic", "Microsoft YaHei", Arial, Verdana, Tahoma, sans-serif;}.clear{content: ".";display: block;height: 0;clear:both;visibility: hidden;}.wrap h2 span{float:right;font-size:12px;line-height:42px;margin-right:45px;}#theme-Option{width:560px;background: #fafafa;margin-bottom: 21px;margin-right: 20px;box-shadow: rgba(222,222,222,0.8) 3px 3px 3px;-moz-box-shadow: rgba(222,222,222,0.8) 3px 3px 3px;-webkit-box-shadow: rgba(222,222,222,0.8) 3px 3px 3px;border: 1px solid #9E9E9E;}#theme-menu{text-align:center;border-bottom:1px solid #9E9E9E;background: #f0f0f0;}#theme-menu span{display:block;float:left;width:70px;height:24px;padding:46px 3px 0 3px;background:url(../../../../wp-admin/images/icons32.png) no-repeat;cursor:pointer;}#theme-menu span.m1{background-position:-473px 0;}#theme-menu span.m2{background-position:-350px 0;}#theme-menu span.m3{background-position:-290px 0;}#theme-menu span.m4{background-position:-415px 0;}#theme-menu span.m5{background-position:-526px 0;}#theme-menu span.m6{background-position:-585px 0;}#theme-menu span.m7{background-position:-645px 0;}#theme-menu span:hover{background-color:#fafafa;}#theme-menu span.current{background-color:#e0e0e0;}#theme-content{padding:1em;border-top:1px solid #fafafa;overflow:hidden;}#theme-content li{display:none;}#theme-content li p,#theme-content li h3{padding:0;margin:0;-webkit-margin-before:0;-webkit-margin-after:0;text-indent: 2em;-webkit-margin-start:0;-webkit-margin-end:0;}form{float: left;user-select:none;-webkit-user-select:none;-moz-user-select:none;}textarea{ width:100%; margin:0 20px 0 0;  overflow:auto}textarea,input[type="text"]{font-size:11px;border:1px solid #DFDFDF;background:#FFF;}input:focus,textarea:focus{border-color:#19A2DE;-webkit-box-shadow: 0 0 8px rgba(25,162,222, 0.1);-moz-box-shadow: 0 0 8px rgba(25,162,222, 0.1);box-shadow: 0 0 8px rgba(25,162,222, 0.1);outline:none;}input#excerpt{width:50px;height:24px;margin:0 5px;}