/* CSS Document */

#headnav { height: 60px; border-bottom: 0}
.nav { height: 60px; overflow: hidden}
.nav li.a a { border-bottom: 0}
a { color: #222222}
a:hover { text-decoration: none}
#scbar { border: 0}
.cr { display: block; float: none; font-size: 0; height: 0; line-height: 0; overflow: hidden; clear: both; visibility: hidden}
div.separation { background-color: #E6E6E6; height: 1px; width: 100px; overflow: hidden; margin: 5px 0 10px 0}

.mtop20{ margin-top:20px;}
.margin0{ margin:0px !important;}
.padding0{ padding:0px !important;}
.padding_margin0{margin:0px !important;padding:0px !important;}
.ml li { padding: 0}
.act { margin: 0 0 10px 0}


/*左侧*/
.idx-adver1 { height: 80px; padding-bottom: 50px; border: 1px solid #EEEEEE; box-shadow: 0 0 4px #ECECEC}
.idx-news .tits { height: 30px; line-height: 30px;padding-bottom:10px; border-bottom: solid 1px #EAEAEA}
.idx-news .tits h2 { line-height: 25px; font-family: "microsoft yahei"; font-size: 18px; color: #333333; float: left; padding-right: 20px; border-right: solid 1px #E0E0E0; font-weight: bold}
.idx-news .tits span { line-height: 28px; padding: 0 0 0 20px; color: #999999; font-size: 13px}
.idx-news .tits a.more { float: right; font-size: 12px; color: #949494;}
.idx-news .cont { padding: 15px 0 0 0}
.idx-news .cont .cont-left { float: left; width: 397px; padding: 0 20px 0 2px; margin: 0; overflow: hidden; border-right: 1px solid #EEEEEE}
.idx-news .cont .cont-right { float: left; width: 397px; padding-left: 25px; padding-right: 0; overflow: hidden}
.idx-news .cont .news-ul li { padding: 10px 0; border-bottom: 1px solid #FFFFFF;border-top: 1px solid #FFFFFF}
.idx-news .cont .news-ul li:hover {}
.idx-news .cont .news-ul li .img { float: left; width: 106px}
.idx-news .cont .news-ul li .word { padding-left: 120px}
.idx-news .cont .news-ul li .word h3 { float: left; position: relative; word-wrap:break-word; width: 275px; height: 34px; overflow: hidden}
.idx-news .cont .news-ul li .word h3 a { font-family: "microsoft yahei";font-size: 15px; color: #444444; font-weight: 400; line-height: 34px;text-overflow: ellipsis}
.idx-news .cont .news-ul li:hover .word h3 a{ color: #4fc277}
.idx-news .cont .news-ul li .word p { float: left; width: 275px; font-size: 12px; color: #858585; line-height: 16px; height: 16px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis}

.ui_2_ul_li { padding: 30px 0; margin: 0; border-bottom: 1px solid #F0F0F0; background: #FFFFFF}
.ui_2_ul_li_imgouter { position: relative; float: left; width: 260px; height: 160px; margin: 0 20px 0 0}
.ui_2_ul_li_con { position: relative; float: left; width: 530px; height: 160px}
.tag_down { position: absolute; left: 8px; top: 8px; height: 20px; line-height: 20px; border-radius: 0; background: #4fa7fe}
.tag_down a { display: block; padding: 0 8px; color: #FFFFFF; transition: all 0s ease 0s}
.tag_down:hover, .tag_down a:hover { color: #FFFFFF; background: #53a8e6}
.ui_2_ul_li_con h3 { line-height: 26px; margin-bottom: 8px; font-size: 18px; font-weight: 400}
.ui_colorG { color: #3d464d}
.ui_colorG:hover { color: #53a8e6}
.ui_2_userinfo { line-height: 32px; font-size: 14px; color: #BBBBBB}
.ui_2_userinfo .authors a { color: #53a8e6; font-weight: 400}
.ui_2_user { float: left; width: 26px; height: 26px; margin: 2px 0 0 0}
.ui_2_ul_li .ui_2_userinfo span { margin-left: 0}
.ui_2_user img { border-radius: 50%}
.ui_2_ul_li_con p { line-height: 24px; font-size: 14px; margin: 5px 0; word-wrap: break-word; word-break: break-all; color: #999999}
.cdg { color: #5E5E5E}
.ui_2_userinfo a, .clg { color: #BBBBBB}
a.ds_inlineB:hover { color: #FF0000}
.fr { float: right}
.mr15 { margin-right: 15px}


.rom-list li { padding-left: 13px; background: url(dot.png) no-repeat 0 13px}

.gogostyle_s3 { width: 280px}
.gogostyle_s3 .cr_1 {
    float: left;
    width: 122px;
    height: 163px;
	margin: 5px 18px 0 0;
    overflow: hidden;
    margin-bottom: 8px;
}
.gogostyle_s3 a {
    color: #3B3B3B;
}

.friendlink li { float: left; margin: 20px 30px 0 0}
.friendlink li a { color: #666666}

/* 首页滚动栏 */

.box1 { height: auto; width: 780px; padding: 15px; overflow: hidden; border-radius: 0; box-shadow: none; background-color: #FFFFFF}
.ad_right { padding: 0; margin: 0; overflow: hidden; border-radius: 0; background-color: #FFFFFF}
.taber { margin: 0}
.rom-list { padding-bottom: 5px}

.banana_rotate{ position:relative; height:278px; width:686px; overflow:hidden; margin:14px;}
.banana_rotate .roll_img{ height:278px; overflow:hidden;position:relative;}
.banana_rotate .roll{ height:52px;  width:686px;overflow:hidden; position:absolute; bottom:0;}
.banana_rotate .roll_opacity{filter:alpha(opacity=20);-moz-opacity:0.2;opacity:0.2;-khtml-opacity: 0.2;background-color:#000000;height:42px;  width:686px;overflow:hidden; position:absolute; bottom:0;}
.banana_rotate .roll .roll_title{ float:left; width:450px; color:#FFFFFF; font-size:16px; margin:20px 0 0 10px;}
.banana_rotate .roll .roll_title a, .banana_rotate .roll .roll_title a:hover{color:#FFFFFF;}
.banana_rotate .roll .roll_small_signimg_div{float:right; width:180px; margin:16px 0 0 0;}
.banana_rotate .roll .roll_small_signimg{ margin:0 3px; border:1px solid #cbc7c7; cursor:pointer;filter:alpha(opacity=50);-moz-opacity:0.5;opacity:0.5;-khtml-opacity: 0.5;}

.banana_rotate .roll li{float:left;}
.banana_rotate .roll .cont{height:44px; line-height:44px; width:346px; text-align:center; cursor:default; background-color:#FFFFFF;cursor:pointer; overflow:hidden;border:2px solid #FFFFFF;border-right:none; border-left:none;}
.roll .separator{margin-top:16px;height:16px;background:none;background-color:#d8d8d8;}
.banana_rotate .roll .current_con{filter:alpha(opacity=100);-moz-opacity:1;opacity:1;-khtml-opacity: 1; border:1PX solid #E6E6E6;}
.inrotate_img{ margin:0px !important; padding:0px !important;}
.inrotate_img ul li{ padding:0px !important;}


.banana_rotate .leftbtn_picturn, .banana_rotate  .rightbtn_picturn { background: url("icon.png") no-repeat scroll 0 0 ; _background: url("icon.gif") no-repeat scroll 0 0; height: 25px; left: 4px; position: absolute; top: 125px; width: 18px; cursor:pointer;}
.banana_rotate .rightbtn_picturn { background-position: -30px 0;  left: 665px; }



.index_content { margin: 0}
.index_left { float: left; width: 810px; margin: 0}
.index_right { float: right; width: 340px; padding-bottom: 20px}
.index_right .index_right_1 { background-color: #FFFFFF; padding: 15px; margin: 0 0 15px 0; border-radius: 0; box-shadow: none}
.index_right .index_right_2 { margin: 0; background-color: #FFFFFF; padding: 15px; border-top: 1px solid #EEEEEE; border-radius: 0}
.index_right .index_right_3 { margin: 0; background-color: #FFFFFF; padding: 0; border-radius: 0}
.index_right .index_right_4 { margin: 0; background-color: #FFFFFF; padding: 3px 15px 15px 15px; border-radius: 0}
.sub-hd { border-top: 1px solid #EEEEEE}
.index_right .column_r1_3 { margin-top: 6px; font-size: 14px}
.index_right .column_r1_3 .thread { overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:42px; line-height:42px; margin: 0}
.index_right .column_r1_3 .thread a { font-size: 14px}

.index_right .column_r2 .thread{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:44px; line-height:44px; margin:0;}
.index_right .column_r2 .thread a{ font-size:14px;}

.index_right .column_r3 .thread{overflow:hidden;text-overflow:ellipsis;white-space:nowrap; height:44px; line-height:44px; margin:0;}
.index_right .column_r3 .thread a{ font-size:14px;}

.index_right .column_r4 .shoot_img{ float:left;width:73px;height:73px;}
.index_right .shootimg_2, .index_right .shootimg_5{ margin-left:10px; *margin-left:4px;}
.index_right .shootimg_3, .index_right .shootimg_6{ margin-left:9px ;*margin-left:3px;}
.index_right .shootimg_4, .index_right .shootimg_5, .index_right .shootimg_6{ margin-top:10px;}

.index_right .column_r1 { width: 260px; overflow: hidden}
.index_right .column_r2, .index_right .column_r3, .index_right .column_r4, .index_right .column_r5, .index_right .column_r6, .index_right .column_r7, .index_right .column_r10 { margin-top: 25px; overflow: hidden; width: 250px}
.index_right .column_r5 { margin: 5px 0 0 0 !important}
.index_right .column_r3{margin-top:30px;}
.index_right .column_r6{margin-top:25px;}
.index_right .column_r7{margin-top:15px;}
.column_r5 .img_l{ float:left; text-align:left; width:121px;}
.column_r5 .img_l img { border:1px solid #EEEEEE}
.column_r5 .mhometitle{ font-size:14px;text-align:left; float:left; width:128px; margin-left: 18px}
.column_r5 .mhometitle .title { height: 20px; line-height: 20px; font-size: 15px; font-weight: 400; padding: 0 !important; color: #515151; overflow: hidden}
.column_r5 .mhometitle .summary { line-height: 20px; height: 60px; width:128px; overflow:hidden; font-size:12px; margin: 3px 0; color: #888888}
.column_r5 .mhometitle .but { background-color: #39B997; width:60px; text-align:center; font-size:12px; color:#FFFFFF; border-radius: 0; padding: 1px 2px; line-height:20px; height: 21px}

.gogostyle_s2 { margin: 0 -18px; padding: 0 18px}
.gogostyle_s2 dl { padding: 10px 0}
.gogostyle_s2,.gogostyle_s2 a{color:#6b6b6b}
.gogostyle_s2 dd, .gogostyle_s2 dt { float: left; width: 165px}
.gogostyle_s2 dd { margin: 5px 0 0 0; color: #888888}
.gogostyle_s2 dt{font-weight:700}
.gogostyle_s2 .m { float: left; width: 80px; height: 80px; margin: 0 15px 0 0; overflow: hidden}
.gogostyle_s2 .m img{max-width:100%}
.gogostyle_s3 a{color:#3b3b3b}
.gogostyle_s3 dl{float:left;width:122px;height:163px;overflow:hidden;margin-bottom:8px}
.gogostyle_s3 dl.cr_0{margin-left:18px}

.index_right .column_r6 li.head_li{ height:56px; line-height:56px; *height:56px; *line-height:56px; overflow:hidden; font-size:14px; }
.index_right .column_r6 li.head_li span{ display:block; height:100%; line-height:56px; *line-height:56px; float:left;}
.index_right .column_r6 li.head_li span.a{ width:40px;}
.index_right .column_r6 li.head_li span.b{ width:90px; _width:90px; margin-left:10px; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_right .column_r6 li.head_li span.c{ width:56px; text-align:right;}
.index_right .column_r6 li.head_li .avatar{margin-top:10px;}


.index_right .column_r7 .tagbox .tag_tags{background-color:#FFFFFF; margin-bottom:15px;}
.index_right .column_r7 .tagbox .tag_tags .tg{ float:left; width:133px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#222222; cursor:pointer; border-bottom:#e6e6e6 1px solid;}
.index_right .column_r7 .tagbox .tag_tags .activity{ border-bottom:#ffffff 1px solid; border-top:#e6e6e6 1px solid; border-left:#e6e6e6 1px solid; border-right:#e6e6e6 1px solid; color:#32a5e7;}
.index_right .column_r7 .tagbox li.firmware_li{ float:left;font-size: 14px;margin-right:20px;}
.index_right .column_r7 .tagbox li.firmware_li_2{font-size: 14px; padding:10px 0; border-bottom:1px dashed #cccccc;}
.index_right .column_r7 .tagbox .tag_main{background-color:#FFFFFF;}


.tagbox2 .tag_tags{background-color:#FFFFFF; margin-bottom:15px;}
.tagbox2 .tag_tags .tg{ float:left; width:133px; height:40px; line-height:40px; text-align:center; font-size:16px; color:#222222; cursor:pointer; border-bottom:#e6e6e6 1px solid;}
.tagbox2 .tag_tags .activity{ border-bottom:#ffffff 1px solid; border-top:#e6e6e6 1px solid; border-left:#e6e6e6 1px solid; border-right:#e6e6e6 1px solid; color:#32a5e7;}
.tagbox2 li.firmware_li{ float:left;font-size: 14px;margin-right:20px;}
.tagbox2 li.firmware_li_2{font-size: 14px; padding:10px 0; border-bottom:1px dashed #cccccc;}
.tagbox2 .tag_main{background-color:#FFFFFF;}


.index_right .column_r8 { margin-top: 0}
.index_right .column_r8 .blocktitle .titletext2 { height: auto !important; margin: 0 0 12px 0; padding: 0 0 0 3px; text-align: left; font-size: 16px; font-weight: bold}
.index_right .column_r8 .bread_line { margin: 8px 0 14px !important}
.index_right .column_r8 .module img { border: 1px solid #EEEEEE}
.index_right .column_r8 .item_img2, .index_right .column_r8 .item_img3 , .index_right .column_r8 .item_img4 { margin-top: 25px}


.index_right .column_r9{ margin-top:10px;}
.index_right .column_r9 .module li { float:left; width:88px; text-align:center; height:25px; line-height:20px; font-size:14px;}
.index_right .column_r9 .module li a { color: #666666}
.index_right .column_r9 .module li a:hover { color: #4fc277}
.column_r10{}
.column_r10 .two_code{ width:100%;}
.column_r10 .two_code .text{ font-size:12px; text-align:center; margin-top:10px;}
.column_r10 .forum_list a { color: #777777 !important}
.column_r10 .forum_list a:hover { color: #4fc277 !important}

.column_r11{}
.column_r11 .extension_img1{background:url("public.png") no-repeat scroll -10px -10px;_background-image:url("public.gif"); width:48px; height:48px; float:left;}
.column_r11 .extension_img2{background:url("public.png") no-repeat scroll -75px -10px;_background-image:url("public.gif"); width:48px; height:48px; float:left; }
.column_r11 .extension_img3{background:url("public.png") no-repeat scroll -150px -10px;_background-image:url("public.gif"); width:48px; height:48px; float:left; }
.column_r11 .extension_img4{background:url("public.png") no-repeat scroll -225px -10px;_background-image:url("public.gif"); width:48px; height:48px; float:left; }
.column_r11 .extension_img_a{float:left; display:block; margin:10px 0 0 15px;}
.column_r11 .extension_img_aie6{_margin:10px 0 0 8px;}

.index_left .index_list { background-color: #FFFFFF; padding:14px 0 14px 14px; display:block; border-radius: 0; }
.index_left .iimage{ float:left; display:block; }
.index_left .iright_k { float: left; padding: 0 19px; width: 420px; display: block}
.index_left .iright_k .spfont{ font-size:12px; line-height:16px; display:block; height:16px; float:left;color:#9b9b9b;}
.index_left .iright_k .spfont a{ color:#9b9b9b;}
.index_left .iright_k .alte a.alink { color: #333333}
.index_left .iright_k .alte a.alink:hover { color: #4fc277}
.index_left .iimage img{ border-bottom:1px solid #e6e6e6;}
.index_left .iimage a.is_image{display:inline-block;}
.index_left .iimage a.is_image:hover{ opacity:0.85;filter:alpha(opacity=85);}
/*.index_left .iimage a.myjicon_image{display:block;width:115px;height:53px;position:absolute;top:20px;left:20px;background: url("../../../static/image/common/myj_icon.png") no-repeat 0 0px;}*/
.index_left .iimage a.myjicon_image{display:block;width:115px;height:53px;position:absolute;top:20px;left:20px;background: url("myj_icon.png") no-repeat 0 0px;}
a.is_video .backmask_video{width:740px;height:248px;background-color:#000000;opacity:0.15;filter:alpha(opacity=15);}
a.is_video:hover .backmask_video{ opacity:0.30;filter:alpha(opacity=30);}
.index_left .ititle{ padding: 0 0 4px 0; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_left .ititle .ireply{ float:right;color:#999999;line-height:36px;}
.index_left .ititle .ireply span{float:right;}
.index_left .ititle .ireply .replyicon_uinfo{margin-top:12px;}
.index_left .index_forum { background-color: #14AE85; font-size:16px; color:#FFFFFF;height:34px;line-height:34px; padding:0px 9px; float:left;}
.index_left .index_title, .index_left .index_title a { color: #555555; font-size: 18px; line-height: 30px; font-weight: 400}
.index_left .index_title a:hover { color: #4fc277}
.index_left .icontent { padding: 5px 0; line-height: 23px; font-size: 16x; color: #888888}
.index_left .icontent a.alink{ color:#32a5e7; margin-left:20px;}
.index_left .icontent a.alink:hover{color:#0082ad;}
.index_left .itail{height:20px; margin-top:10px;}
.index_left .itail .ireply{ float:right;color:#999999;}
.index_left .itail a.alink{ color:#32a5e7; float:right;}
.index_left .itail a.alink:hover{color:#0082ad;}
.index_left .index_list .is_video{display:block; position:absolute; top:0px; left:0px; width:740px; height:248px;}
.is_video .play_start{background: url("play_start.png") no-repeat 0 0px; _background: url("play_start.gif") no-repeat 0 0px; position:absolute; width:88px; height:88px; left:326px; top:86px;}
a.is_video:hover .play_start{background: url("play_start.png") no-repeat 0 -106px; _background: url("play_start.gif") no-repeat 0 -106px; width:88px; height:88px; position:absolute; left:326px; top:86px;}

.index_list .statistics_id{float:right;margin-top:8px; width:540px; height:20px;}
.index_list .statistics_id span{float:right;}

.index_left #load_index_list{ border:1px solid #e6e6e6; height:48px; background-color:#FFFFFF; margin-top:40px; cursor:pointer; }
.index_left #load_index_list .load_font{ text-align:center; line-height:48px; font-size:18px; color:#222222;}

.community_heat .lsc { margin: 0 6px ; font-size:12px; color: #888888}
.community_heat .clor{ color:#ffa800; font-size:12px;}
.community_heat .flagstaff{font-size:12px; color:#999999;}
/*.tr_threadlist_last th , .tr_threadlist_last td{ border-bottom: #FFFFFF 0px none !important;}*/



.blocks { border-left: 1px solid #EEEEEE; border-right: 1px solid #EEEEEE}
.index_frame { margin:20px 0 0 0; height:332px}
.index_frame .blocktitle { line-height:normal !important; height:auto !important}
.column_r10 .forum_list { padding:10px 0 0 0}
.forum_list ul li{ float:left; width: 133px; margin:0 !important; padding:10px 0 !important; border-bottom: 1px solid #EEEEEE; text-align:center; font-size:14px; color: #666666}
.forum_list ul li.thread_1, .forum_list ul li.thread_2 { border-top:1px solid #EEEEEE}
.forum_list li.thread_2, .forum_list li.thread_4, .forum_list li.thread_6, .forum_list li.thread_8, .forum_list li.thread_10, .forum_list li.thread_12, .forum_list li.thread_14, .forum_list li.thread_16 { border-left: 1px solid #EEEEEE}



.index_frame .column_left{ width:780px; height:100%; float:left; background-color:#FFFFFF; overflow:hidden; border:#e6e6e6 1px solid;}
.index_frame .column_right{ width:240px; float:left; background-color:#FFFFFF; margin:0 0 0 16px; height:100%; overflow:hidden; border:#e6e6e6 1px solid;}
.index_frame .column_1_1{ width:330px; float:left; overflow:hidden;}
.index_frame .column_1_2{ width:390px; float:left;; padding:15px 10px 10px 40px;}
.index_frame .column_1_3_1{ overflow:hidden; width:240px; height:145px;}
.index_frame .column_1_3_2{ width:200px; margin:15px 0 0 20px;}
.index_frame .column_2_1{ width:330px; float:left;}
.index_frame .column_2_2{ width:390px; float:left; padding:15px 10px 10px 40px;}

.index_frame li.thread{height: 32px; line-height: 32px; font-size: 14px; overflow: hidden;}
.index_frame li.firmware_li{ float:left;font-size: 14px;margin-right:20px;}
.index_frame li.firmware_li_2{font-size: 14px; padding:9px 0; border-bottom:1px dashed #cccccc;}
.index_frame li.firmli_3{margin-right:0 !important;}
.index_frame li.firmware_li a{ color:#32a5e7 !important; cursor:pointer;}

.index_frame .column_2_3{margin:15px 20px 0 20px;}
.index_frame .column_2_3 li.head_li{ height:64px; line-height:64px; *height:60px; *line-height:60px; overflow:hidden; font-size:14px; }
.index_frame .column_2_3 li.head_li span{ display:block; height:100%; line-height:64px; *line-height:60px; float:left;}
.index_frame .column_2_3 li.head_li span.a{ width:40px;}
.index_frame .column_2_3 li.head_li span.b{ width:90px; _width:90px; margin-left:10px; white-space:nowrap;overflow:hidden;-o-text-overflow:ellipsis;text-overflow:ellipsis;}
.index_frame .column_2_3 li.head_li span.c{ width:60px; text-align:right;}
.index_frame .column_2_3 li.head_li .user_img{margin-top:15px; border:#e5e5e5 solid 1px;}


.index_frame .column_3_1{ width:330px; float:left; height:100%; overflow:hidden;}
.index_frame .column_3_2{ width:390px; float:left; padding:15px 20px 20px 40px;}
.index_frame .column_3_2 li.doyen , .index_frame .column_3_2 li.doyen2, .index_frame .column_5_2 li.doyen, .index_frame .column_5_2 li.doyen2{height: 30px; line-height: 30px; font-size: 14px; overflow: hidden; float:left; width:190px; _width:189px;}
.index_frame .column_3_2 li.doyen2, .index_frame .column_5_2 li.doyen2{ width:200px;}

.index_frame .column_3_3{ width:100%; height:95px; overflow:hidden;}
.index_frame .column_3_3 .column_3_4{}
.index_frame .column_3_4 .tagbox .tag_tags{border-top:#e6e6e6 1px solid;background-color:#FFFFFF;}
.index_frame .column_3_4 .tagbox .tag_tags .tg{ float:left; width:119px; height:58px; line-height:58px; text-align:center; font-size:18px; color:#81aab8; cursor:default; border-bottom:#e6e6e6 1px solid;background-color:#f7f7f7; }
.index_frame .column_3_4 .tagbox .tag_tags .tgreght{width:1px; background-color:#f7f7f7; float:right; height:40px;}
.index_frame .column_3_4 .tagbox .tag_tags .activity{ background-color:#FFFFFF; border-bottom:#FFFFFF 1px solid;color:#32a5e7;}
.index_frame .column_3_4 .tagbox .tag_tags	#bbs_system_course_get{border-left:#e6e6e6 1px solid;}
.index_frame .column_3_4 .tagbox .tag_main{ height:197px;background-color:#FFFFFF;}
.index_frame .column_3_4 .tagbox .tag_main .ctag{ padding:20px;width:197px; overflow:hidden;}

.index_frame .column_4{padding:15px 19px 20px; border:#e6e6e6 1px solid;background-color:#FFFFFF; overflow:hidden;}
.index_frame .column_4 .tuji_frame1{ width:496px; float:left; overflow:hidden;}
.index_frame .column_4 .tuji_frame2{width:496px; float:left; overflow:hidden; margin-left:6px;}
.tuji_frame1 .tuji_1, .tuji_frame1 .tuji_1 img{width:496px; height:255px;}
.tuji_frame1 .tuji_2, .tuji_frame2 .tuji_4{ height:195px; width:245px; float:left;}
.tuji_frame1 .tuji_2 img,.tuji_frame1 .tuji_3 img{height:195px; width:245px;}
.tuji_frame1 .tuji_2,.tuji_frame1 .tuji_3{margin-top:6px;}
.tuji_frame1 .tuji_3, .tuji_frame2 .tuji_5{ height:195px; width:245px; float:left;margin-left:6px;}
.tuji_frame2 .tuji_6, .tuji_frame2 .tuji_6 img{width:496px; height:255px;}
.tuji_frame2 .tuji_4 img,.tuji_frame2 .tuji_5 img{height:195px; width:245px;}
.tuji_frame2 .tuji_6{margin-top:6px;}
.tuji_frame1 .tuji_img_box, .tuji_frame2 .tuji_img_box{ position:relative; }
.tuji_frame1 .tuji_desc, .tuji_frame2 .tuji_desc{ position:absolute; bottom:0px; left:0px; overflow:hidden;text-overflow:ellipsis;filter:alpha(Opacity=70);-moz-opacity:0.7;opacity: 0.7;z-index:100; background-color:#FFF; padding:5px 10px; color:#000000;color:pointer; font-size:16px; overflow:hidden; cursor:default;}


.index_frame .column_5_1{ width:330px; float:left;}
.index_frame .column_5_2{ width:390px; _width:389px; float:left; padding:15px 20px 20px 40px;}


.index_frame .column_2_1 .thread{height: 32px; line-height: 32px; font-size: 14px; overflow: hidden;}
.index_frame .column_2_2 .thread2{margin:0px; height: 38px; *height:30px; *+height:30px;font-size: 14px; overflow: hidden;}
.index_frame .column_2_2 .count_5, .index_frame .column_2_2 .count_6, .index_frame .column_2_2 .count_7, .index_frame .column_2_2 .count_8{height: 37px !important;_height:34px !important; *+height:34px !important;}
.thread2 .hot_replies{ float:left; width:36px; height:18px; line-height:18px; background-color:#dbeff8; text-align:center; margin-top:10px; margin-right:12px;font-size: 12px;  color:#6092b2;}
.thread2 .alink_replies{ float:left; line-height:36px;}
.highlight .hot_replies{ background-color:#689dbf !important;color:#FFFFFF !important;}
.highlight .alink_replies a{ font-size:18px; color:#3689b2 !important;}


.split_line{ width:2px; background-color:#e6e6e6; height:12px;float:left; margin:10px 10px 0 0;}
.firmware_download { border-radius:1px; background-color: #45B0DA; height:46px; line-height:46px; text-align:center; color:#FFFFFF; font-size:18px; margin:8px 0 0 0;}

.titx { height: 25px; line-height: 25px; padding-bottom: 10px}
.titx span { float: right; width: 16px; height: 16px; padding: 0; margin: 10px 0 0 0; color: #919090; text-indent: -9999px; background: url(icons.png) no-repeat -200px 5px}
.titletext2, .titletext2 a { float: left; padding: 0; color: #555555 !important; font-size: 16px; font-weight: bold; display: inline-block; height: 25px; line-height: 25px}
.titletext2 a:hover,.titletext2 a:hover em{color:#0082ad !important;}
.bread_line{height:3px; width:100%;margin:8px 0 -4px 0;overflow:hidden;}
.bread_line .line{background-color:#e6e6e6; height:1px; width:100%; float:left; overflow:hidden;}
.download_button{ display:block;}
.download_button div{ cursor:pointer;}


.index_content .title{ height:auto; line-height:normal;}
.imgcont_roll{width: 686px; float:left; display:inline-block;}
.titletext2 em{padding:0px;margin:0px;float:left;}
.titletext2 .arrow{display:inline-block;margin:7px 0px 0px 8px;margin-top:5px\9;*margin-top:6px;_margin-top:5px;width:8px;height:14px;background:url("main_icon.png") no-repeat 0px -54px;_background-image:url("main_icon.gif");}
@media all and (-webkit-min-device-pixel-ratio:0){/*safari*/
    .titletext2 .arrow{margin-top:6px;}
}

li.firmware_li em{padding:0px;margin:0px;float:left;color:#32a5e7 !important;}
li.firmware_li a:hover em{color:#0082ad !important;}
li.firmware_li .arrow_2{display:inline-block;margin:6px 0px 0px 5px;*margin-top:6px;width:10px;height:9px;background:url("main_icon.png") no-repeat 0px -88px;_background-image:url("main_icon.gif")}
.firmware_li a em{ cursor:pointer;}

@media screen and (max-width: 980px){
.index_left #load_index_list .load_font{font-size:22px;}
}

.fz18{ font-size:18px !important;}

/*百度分享*/
.ishare .isharebtn .bds_tsina:hover, .ishare .isharebtn .bds_qzone:hover{
      filter:alpha(opacity=50);
      -moz-opacity:0.5;  
      -khtml-opacity: 0.5;  
      opacity: 0.5;  
}  
.ishare{float:left;overflow:hidden;}
.ishareto{float:left;color:#999999;}
.ishareto em{float:left;}
.ishareto .arrow_ishare{display:inline-block;width:7px;height:9px;margin:6px 14px 0px;background:url("main_icon.png") no-repeat -214px -441px;_background-image:url("main_icon.gif")}
.ishare .isharebtn a{background-image:url("main_icon.png");padding:0px;margin:0px 14px 0px 0px;display:inline-block;background-image:url("main_icon.gif"); }
.ishare .isharebtn a:hover { text-decoration: none}
.ishare .isharebtn .bds_tsina{width:28px;height:22px;background-position:-60px -630px !important;}
.ishare .isharebtn .bds_tqq{width:20px;height:20px;background-position:-40px -679px !important;}
.ishare .isharebtn .bds_qzone{width:21px;height:22px;background-position:-90px -630px !important;}
.displaybtn_ishare .isharebtn{display:none !important;}
.readicon_uinfo_5{ background: url("main_icon.png") no-repeat scroll -120px -630px transparent;display: inline-block; height: 14px; margin: 2px 6px 0 20px; width: 22px; _background-image:url("main_icon.gif"); }
.replyicon_uinfo_5{background: url("main_icon.png") no-repeat scroll -150px -630px transparent;display: inline-block;height: 16px;margin: 2px 6px 0 20px;width: 19px; _background-image:url("main_icon.gif"); }

.play_btn{background: url("play_btn.png") no-repeat 0 0px; _background: url("play_btn.gif") no-repeat 0 0px; position:absolute; width:268px; height:147px; top: 0px; left: 0px; z-index: 5; }

a.xrkt{position: relative; top: 0px; display: block; height: 147px; width: 268px;}

.mask_video{position: absolute; top: 0px; left: 0px; background-color: #000000; filter:alpha(opacity=50); -moz-opacity:0.2;-khtml-opacity: 0.2;opacity: 0.2; z-index: 4;height: 140px; width: 268px;display: none;}
a.xrkt:hover .mask_video {display: block;}


.plate_mn .tl th, .plate_mn .tl td {
    border-bottom: 1px solid #E6E6E6;
}


.signinwrap_expand {
    position: relative;
}
.signin_expand_2 {
    width: 270px;
    height: 62px;
    line-height: 52px;
    font-size: 16px;
    border-radius: 2px;
    background-color: #4fc277;
    color: #FFFFFF;
    overflow: hidden;
    cursor: pointer;
}
.signin_expand a, .signin_expand a:link, .signin_expand a:hover, .signin_expand a:active, .signin_expand a:visited { color: #FFFFFF}
.signin_expand a:hover { text-decoration: none}
.week_ban {
    display: inline-block;
    width: 92px;
    height: 50px;
    margin: 5px 5px 0 22px;
    background: url(main_icon.png) no-repeat scroll -107px -221px transparent;
    color: #000000;
    font-size: 18px;
    padding: 0 0 0 26px;
    float: left;
}
.btncont_signin_2 {
    float: left;
    font-size: 20px;
    margin: 5px 0px 0px 15px;
    width: 92px;
    text-align: center;
    color: #FFF;
}


.forum_hot {}
.forum_hot li { width: 844px; padding: 15px 0; border-bottom: 1px solid #F2F2F2}
.forum_hot li:last-child { border-bottom: 0}
.portal_avatar { float: left; width: 50px; height: 50px; margin: 0 18px 0 0}
.portal_avatar img { width: 50px; height: 50px; border-radius: 0; border: 1px solid #F1F1F1}
.portal_tits { float: left; width: 550px; font-size: 16px}
.portal_tits span { float: left; margin: 0 10px 0 0; color: #4895D0}
.portal_tits span a { color: #4895D0}
.portal_tits .info { padding: 3px 0 0 0}
.portal_tits .info a { padding-right: 25px; color: #AFAFAF; font-size: 12px}
.portal_tits h3 a:hover { color: #4fc277}
.portal_author { float: right; font-size: 14px; color: #C8C8C8; text-align: right}
.portal_author a { color: #AFAFAF; font-size: 12px}
.portal_author .dates { padding: 5px 0 0 0}

.phb_c_side td.phb_c_list_t_1 { width: 218px}

.phb_c_list_name {
    vertical-align: middle;
    display: inline-block;
    width: 140px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.phb_c a, .my_phb_c a, .phb_fnq a, .phb_c_side a {
    color: #555;
}
.phb_c_side .phb_c_list_name { float: left; width: 120px}
.phb_c_side .phb_c_list_1 .phb_c_list_name, .phb_c_side .phb_c_list_2 .phb_c_list_name, .phb_c_side .phb_c_list_3 .phb_c_list_name {
    font-size: 14px;
}
.phb_c_side .phb_c_list_img { float: left; margin: 15px 6px 0 0}
.phb_c_list_img img {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.phb_c_list .phb_c_list_t_1 {
    text-align: left;
}
.phb_c_list_0 { height: 60px; line-height: 60px; border-bottom: 1px solid #EEEEEE}
.phb_c_list_t_1 { float: left}
.phb_c_list_t_6 { float: right; padding: 0 6px; margin: 21px 0 0 0; height: 20px; line-height: 20px; color: #9F9F9F; border-radius: 2px; background: #F1F1F1}
.phb_c_list_no { float: left; line-height: 56px; padding: 0 10px 0 0; color: #666666; font-size: 16px; font-family: Georgia,"Times New Roman",Times,serif}
.phb_c_list_1 .phb_c_list_no {
    color: #ea5246;
}
.phb_c_list_2 .phb_c_list_no {
    color: #f56313;
}
.phb_c_list_3 .phb_c_list_no {
    color: #eea313;
}


/* 门户首页今日头条样式 */
.hot_list { padding: 0 0 5px 0}
.hot_list ul li { width: 250px; padding: 0 0 1px 0; overflow: hidden}
.hot_list ul li:last-child { border-bottom: 0}
.hot_list .t { margin-top: 0; font-size: 15px; color: #555555; height: 40px; line-height: 40px; background-image: url(dot.png);background-repeat: no-repeat; padding-left: 15px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden}
.hot_list .t1 { background-position: left center}

.hot_list .t a { color: #555555}
.hot_list .t a em { color: #E05C5C}
.hot_list .t a:hover { color: #E05C5C}
.hot_list p { display: none; height: auto; line-height: 22px; margin-bottom: 10px; margin-top: 5px; overflow: hidden; width: 235px; margin-left: 15px; color: #929090}
.hot_list .on p { display: block}
.hot_list p span { color: #4fc277}


.ma_portal_y_list { padding: 12px 0 0 0; border-top: 1px dashed #E6E6E6}
.ma_portal_y_list li {
    width: 235px;
	padding: 0 0 0 15px;
    font-size: 12px;
    color: #555555;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
    margin-bottom: 12px;
	background: url(dot.png) no-repeat 1px 8px
}
.ma_portal_y_list li a { color: #555555; font-size: 14px}
.ma_portal_y_list li a:hover { color: #53a8e6}


.ma_rt_box {
    padding-right: 0;
    padding-bottom: 8px;
	margin: 15px 0 0 0;
	box-shadow: none
}
.ma_portal_y_t {
    font-size: 16px;
    color: #3F3F3F;
    font-weight: bold;
    margin-bottom: 16px;
    line-height: 20px;
    position: relative;
    top: 3px;
}
.ma_rt_t img {
    position: relative;
    top: 3px;
    margin-right: 11px;
}
.ma_rt_c li {
    float: left;
    padding-left: 19px;
    line-height: 150%;
    background: url(rt_ico2.png) no-repeat 4px center;
    font-size: 14px;
    width: 380px;
    padding-right: 35px;
    margin-bottom: 12px;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: normal;
    text-overflow: ellipsis;
}
.ma_rt_c a { color: #777777}
.ma_rt_c a:hover { color: #53a8e6}

.sub-box {
    background: #FFF none repeat scroll 0% 0%;
}
.box .hd, .sub-hd {
    height: 34px;
    line-height: 34px;
}
.sub-hd {
    padding: 20px 15px 11px 15px;
	border-top: 1px solid #E8E8E8
}
.sub-bd {
    width: 250px;
    padding: 0 15px;
}
.hd strong, .sub-hd strong {
    font-size: 16px;
    color: #555555;
    font-weight: bold;
    float: left;
}

.act-list li {
    margin-bottom: 22px;
}
.act-item-img {
    display: block;
    width: 260px;
    height: 115px;
    margin-bottom: 12px;
	vertical-align: middle
}
.act-item-info {
    height: 42px;
    position: relative;
}
.act-item-tit {
    width: 170px;
    overflow: hidden;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    display: block;
    text-overflow: ellipsis;
}
.act-item-btn {
    position: absolute;
    width: 59px;
    height: 25px;
    background: #4fc277;
    color: #FFFFFF;
    text-align: center;
    line-height: 25px;
    display: block;
    right: 0;
    top: 4px;
}
.act-item-btn:hover { color: #FFFFFF; text-decoration: none; background: #028D67}
.act-item-views {
    color: #AAA;
    font-size: 14px;
    line-height: 22px;
}
.act-item-views i {
    font-style: normal;
    color: #E05C5C;
}


.taber { border: 0; background: none}
.taber .title { background: none}
.taber .tb { height: 31px; line-height: 31px; border-bottom: 1px solid #E9E9E9 !important; padding: 0; margin: 0 15px}
.taber .tb li { margin: 0}
.taber .tb a { width: 125px; padding: 0; margin: -1px 0 0 0; border: 0; text-align: center; color: #666666; border-bottom: 0}
.taber .tb .a a { font-weight: bold; color: #CE5959; border-bottom: 2px solid #CE5959}
.taber .tb-c { padding: 0}

.tab1 { margin-bottom: 15px; border: 1px solid #F0F0F0; box-shadow: none; background: none}
.tab1 .title { background: #f7f8f8}
.tab1 .tb { width: 342px; height: 49px; line-height: 49px; border-bottom: 0 !important; padding: 0; margin: 0}
.tab1 .tb li { margin: 0}
.tab1 .tb a { width: 170px; padding: 0; margin: 0; border: 0; text-align: center; color: #666666; border-bottom: 0; border-right: 1px solid #EEEEEE; font-size: 17px; background: #f7f8f8 !important}
.tab1 .tb .a a { font-weight: 400; color: #53a8e6; background: #FFFFFF !important}
.tab1 .tb-c { padding: 10px 30px 20px 28px; background: #FFFFFF}
.ie7 .tab1 .tb-c {}

.ranking { padding-left: 18px; margin: 0; background: url(barBg.png) no-repeat 0 0}
.ie7 .ranking { background-position: 0 4px}
.ranking li a { color: #5C5C5C}

.rom-list { padding: 14px 15px 18px 15px}
.rom-list li {
    padding-left: 10px;
    position: relative;
    line-height: 30px;
    font-size: 14px;
}
.rom-list li, .rom-item {
    width: 240px;
    overflow: hidden;
    height: 30px;
}
.rom-list .dot {
    position: absolute;
    left: 1px;
    background: url(icon9.png) no-repeat -40px -60px !important;
    width: 2px;
    height: 2px;
}
.rom-list .dot {
    top: 15px;
}
.rom-item {
    display: block;
    cursor: pointer;
}
.rom-tit {
    float: left;
    width: 250px;
    height: 30px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #666;
}
.rom-tit:hover { color: #53a8e6}
.rom-update-time {
    float: right;
    color: #666;
}


.holder { display: inline-block !important; float: right; position: relative; padding: 20px 0; margin: 0 15px 0 0; background: #FFFFFF}
.ie7 .holder { display: none !important}
.holder span.dots { vertical-align: top; width: auto; height: 27px; line-height: 27px; padding: 0 10px; margin: 0 5px 0 0 !important; color: #999999 !important; background: none}
.holder span.dots:hover { color: #999999 !important; background: none}
.holder a { float: left; width: 32px; height: 32px; line-height: 32px; margin: 0 0 0 8px; color: #AAAAAA; border: 1px solid #E5E5E5; font-size: 14px; border-radius: 50%; box-shadow: none; text-align: center; cursor: pointer; transition: all 0.2s ease-in-out; z-index: 1; background: none}
.holder a.jp-disabled { display: none}
.holder a.jp-current { color: #FFFFFF; border-color: #53a8e6 !important; background: #53a8e6 !important; z-index: 2}
.holder a:hover { background: #EEEEEE; text-decoration: none}
.holder a.jp-previous {
	color: transparent;
	text-indent: -9999px;
    background: url(page1.png) no-repeat center center #FFFFFF}
.holder a.jp-previous:hover { color: #FFFFFF; border-color: #53a8e6; background-color: #FFFFFF !important}
.holder a.jp-next {
    color: transparent;
	text-indent: -9999px;
    background: url(page2.png) no-repeat center center #FFFFFF}
.holder a.jp-next:hover { color: #FFFFFF; border-color: #53a8e6; background-color: #FFFFFF !important}


.index_tab { padding: 20px 0 0 0; background: #FFFFFF}
.index_tab h3 { float: left; height: 40px; line-height: 40px; margin: 0 15px; font-size: 20px; font-weight: bold; color: #53a8e6}
.index_tab h3 em { color: #999999; font-weight: 400}
.box_s1 { box-shadow: none}


.h-soup {
    position: relative;
    float: right;
    width: auto;
    height: 40px;
    padding: 0 110px 0 20px;
	margin: 2px 15px 0 0;
    background-color: #fff7e7;
    border-radius: 20px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.h-soup li { float: right}
.h-soup li i {
    position: absolute;
	width: 27px;
	height: 27px;
    top: 8px;
    cursor: pointer;
}
i.icon-warn { background: url(i1.png) no-repeat 0 0}
.open i.icon-warn { background: url(i1_on.png) no-repeat 0 0}
i.icon-heart-round { background: url(i2.png) no-repeat 0 0}
.open i.icon-heart-round { background: url(i2_on.png) no-repeat 0 0}
i.icon-star1 { background: url(i2.png) no-repeat 0 0}
.open i.icon-star1 { background: url(i2_on.png) no-repeat 0 0}
.h-soup li i.icon-star1 { right: 7px}
.h-soup li i.icon-heart-round { right: 41px}
.h-soup li i.icon-warn { right: 75px}
.h-soup li .txt {
    display: none;
    font-size: 14px;
    color: #6b3612;
    line-height: 40px;
    white-space: nowrap;
}
.h-soup li.open .txt { display: block}


.right_box_content { padding: 10px 0}
.right_box_content li {
	float: left;
    border-bottom: 1px dashed #ddd;
    color: #999;
    cursor: pointer;
}
.right_box_content li {
    margin-left: 5px;
    border-left: 2px solid #f0f0f0;
}
.right_box_content li p::before {
    content: "";
    font-size: 12px;
    color: #95c7ec;
	margin: 0 0 0 -12px;
    width: 18px;
    height: 12px;
    display: inline-block;
	background: url(dot2.png) no-repeat 0 0
}
.right_box_content li p {
    float: left;
    width: 55px;
    font-size: 10px;
    padding: 10px 0 10px 5px;
    line-height: 24px;
	overflow: visible
}
.right_box_content li h6 {
    float: left;
    width: 175px;
    color: #333;
}
.right_box_content .news_flash_title {
    line-height: 24px;
    padding: 10px 0;
	font-size: 13px
}
.more_newf {
    padding: 0 0 10px 0;
    text-align: center;
}
.more_newf a {
    color: #53a8e6;
    cursor: pointer;
    padding: 4px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #53a8e6;
	border-radius: 20px;
    display: inline-block;
}


/*友情链接*/
.links { width: 1180px; height:auto; overflow:hidden; text-align:center; margin:0 auto; background:#fff;margin-top:25px;}
.ie7 .links { margin-top: 5px}
.links .links_pic { width: 1180px; height:60px; margin:30px 0;}
.links .links_pic ul{padding:0 20px}
.links .links_pic li{float:left; width:145px; height:60px; overflow:hidden}
.links .links_pic li .yqpic{border:1px #EEEDED solid}
.links .links_txt{width: 1180px; height:auto; overflow:hidden; padding: 10px 0 20px 0}
.links .links_txt_title{width: 1180px; height:45px; line-height:45px; font-size:17px; color: #555555; background:url(yqlink.jpg) center center no-repeat}
.links .links_txt ul{padding:0 20px}
.links .links_txt li{float: left;font-size: 14px;margin: 8px 10px;color: #333;line-height: 22px}
.links .links_txt li a{color: #666666}
.links .links_txt li a:hover{color: #53a8e6}


.mCSB_container { margin: 8px 0 0 0; font-family: "Open Sans", Arial, "Hiragino Sans GB","Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif,sans-serif}
.fast-item {
    padding-left: 4px;
    cursor: pointer;
}
.fast-item .item-inner {
    padding-left: 20px;
    border-left: 1px solid #efefef;
}
.fast-item .item-title {
    width: 270px;
    position: relative;
    color: #333;
    line-height: 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.fast-item .item-title a { color: #333333}
.fast-item .item-title a:hover { color: #ff6600}
.fast-item .item-title::before {
    content: '';
    position: absolute;
    left: -24px;
    top: 2px;
    width: 7px;
    height: 15px;
    background: url(website_icon@2x.png) no-repeat;
    background-size: 44px 95px;
    background-position: 0px -79px;
    background-color: #fff;
}
.fast-item .item-time, .fast-item .item-info {
    font-size: 12px;
    color: #AAAAAA;
    padding-bottom: 10px;
    line-height: 1.5;
}
.hide { display: none}
.fast-item .item-info {
    overflow: hidden;
    padding-bottom: 25px;
    transition: all 0.5s ease 0s;
}
.fast-item .item-info a {
    color: #f60;
    padding: 0 3px;
}


#main_sidebar .btn_sign { float: left; width: 340px; margin: 0; overflow: hidden; background: #53a8e6}
#main_sidebar .btn_sign a { color: #FFFFFF}
#main_sidebar .btn_sign .icon_sign { margin-left: 90px}
#main_sidebar .btn_sign_left a { display: block; width: 340px; height: 55px}
#main_sidebar .btn_sign_left p { width: 110px; font-size: 18px; font-weight: 400}


.get-mod-more {
    height: 58px;
    width: 808px;
    line-height: 58px;
	margin-top: -1px;
	margin-bottom: 10px;
    color: #bbb;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    display: inline-block;
	border: 1px solid #f0f0f0;
	transition: all .2s ease-out;
}
.ie7 .get-mod-more { margin-top: -7px}
.get-mod-more a { color: #BBBBBB}
.get-mod-more:hover { color: #333333; background: #FAFAFA}


.top_swing { position: relative; width: 100%; min-width: 1180px; height: 84px; z-index: 50; background: url(bg_top.jpg) no-repeat center center; background-size: cover}
.top_swing .cell { padding: 25px 0 0 200px; font-size: 14px}
.top_swing .cell a {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.5em 1em;
    vertical-align: middle;
    font-weight: normal;
    line-height: 1.2;
    text-align: center;
    white-space: nowrap;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    user-select: none;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.top_swing .cell a {
    background-color: #fff;
    color: #4285f4;
    margin-left: 12px;
    font-size: 14px;
    padding: 0.5rem 1rem;
}
.top_swing .cell span { color: #FFFFFF}


.down_load_right {
    background-color: #f1f1f1;
}
.down_load_right .code {
    float: right;
    display: block;
    width: 70px;
    height: 70px;
	padding: 0;
	margin: 0;
    line-height: 3.5rem;
    text-align: center;
    background: url(qrcode.png) right top no-repeat;
    position: relative;
}
.down_load_right .code .code_box {
    position: absolute;
    display: none;
    width: 6rem;
    height: 6rem;
    padding: 0.5rem;
    background-color: #ffffff;
    right: 10px;
    top: 60px;
    z-index: 222;
}
.down_load_right .code:hover .code_box { display: block}
.down_load_right .code .code_box .arrow_outer {
    position: absolute;
    top: -0.5rem;
    right: 0.6rem;
    width: 1rem;
    height: 0.5rem;
    overflow: hidden;
}
.down_load_right .code .code_box .arrow {
    width: 0.5rem;
    height: 0.5rem;
    margin: 0.3rem auto 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-box-shadow: 0px 0px 0.3rem #ccc;
    box-shadow: 0px 0px 0.3rem #ccc;
    background-color: #ffffff;
}
.down_load_right .code .code_box .img_box {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 0.3rem #ccc;
    box-shadow: 0px 0px 0.3rem #ccc;
    background: url(wx.png) #fff center center no-repeat;
    background-size: cover;
}
.down_load_right .inner_box {
    float: left;
	width: 222px;
	padding: 20px 0 20px 30px
}
.down_load_right .inner_box a {
    display: block;
    margin-right: 12px;
    float: left;
    width: 105px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 0.2rem;
}
.down_load_right .inner_box .ios {
    background-color: #3d464d;
}
.down_load_right .inner_box .android {
    background-color: #66b60e;
    margin-right: 0;
}


.top_list ul { width: 825px}
.top_list li { position: relative; float: left; width: 260px; height: 160px; margin-right: 15px; overflow: hidden}
.top_list li p { position: absolute; left: 10px; bottom: 12px; height: auto; line-height: 25px; padding: 0 10px; z-index: 50}
.top_list li p a { color: #FFFFFF; font-size: 14px}


.tabBar { width: 100%; font-family:"Microsoft YaHei"; padding-top: 0}
.tabBar .hd { position: relative; border-bottom: 1px solid #F0F0F0}
.tabBar .hd ul { float: left; margin: 0 0 -1px 0; z-index: 5; zoom: 1}
.tabBar .hd li { float :left; height: 24px; line-height: 24px; padding: 0 0 11px 0; margin-right: 30px; color: #777777; border-bottom: 2px solid transparent; cursor: pointer; font-weight: 400; font-size: 16px}
.tabBar .hd li.on { color: #53a8e6; border-bottom: 2px solid #53a8e6; font-weight: 400}

.tabBar .bd{ border: 0; padding: 0; clear:both; position:relative; height: auto; overflow: hidden}
.tabBar .bd .conWrap{ width: 100%}


#list {
    float: left;
    overflow: hidden;
    width: 370px;
    height: 400px;
    background: #323232;
}
#list li {
    padding: 20px 5px 20px 15px;
    height: 92px;
}
#list li.mid {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
}
#list li:hover { background: #3e3e3e}
.cf {
    clear: both;
    zoom: 1;
}
#list li a {
    color: #2eb398;
    text-decoration: none;
}
#list div {
    float: left;
    width: 120px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
#list div.away img, #list div.home img {
    display: block;
    margin: 10px auto;
    height: 50px;
}
#list div.stat {
    float: left;
    padding-top: 3px;
    width: 90px;
}
#list h2 {
    overflow: hidden;
    height: 12px;
    color: #999;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
}
#list h3 {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
}
#list p {
    font-weight: 400;
    font-size: 12px;
}
#list p i {
    color: #47799e;
    font-style: normal;
}