
<!--{template common/header}-->
<!--{eval require TPLDIR."/php/index.php";}-->
<div class="wp">
    <div class="index_category cl">
        <!--[diy=diyindex_category]--><div id="diyindex_category" class="area"></div><!--[/diy]-->
    </div>
    <div class="wic_index cl">
        <div class="index_left">
            <div class="index_main cl">
                <div class="index_slide">
                    <!--[diy=diyindex_slide]--><div id="diyindex_slide" class="area"></div><!--[/diy]-->
                </div>
                <div class="index_headline cl">
                    <!--[diy=diyindex_headline]--><div id="diyindex_headline" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_recom mt40">
                <div class="index_tit cl">
                    <h2>$tmplang['featured_reading']</h2>
                </div>
                <div class="index_recom_c">
                    <!--[diy=diyindex_recom]--><div id="diyindex_recom" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_article">
                <div class="index_article_tit cl">
                    <h2>$tmplang['lastest_release']</h2>
                </div>
                <div class="index_article_c wic_article_list">
                    <!--[diy=diyindex_article]--><div id="diyindex_article" class="area"></div><!--[/diy]-->
                </div>
            </div>
        </div>
        <div class="index_right">
            <div class="index_news">
                <div class="index_news_box1">
                    <div class="index_news_box2">
                        <div class="index_news_box3">
                            <div class="index_news_tit cl">
                                <h2>$tmplang['lastest_news']</h2>
                            </div>
                            <div class="index_news_c">
                                <!--[diy=diyindex_news_c]--><div id="diyindex_news_c" class="area"></div><!--[/diy]-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="index_ad mt70">
                <!--[diy=diyindex_ad1]--><div id="diyindex_ad1" class="area"></div><!--[/diy]-->
            </div>
            <div class="index_live mt30">
                <div class="index_rtit cl">
                    <h2>$tmplang['wonderful_review']</h2>
                    <a href="#" target="_blank" class="more">MORE<em></em></a>
                </div>
                <div class="index_live_c">
                    <!--[diy=diyindex_live]--><div id="diyindex_live" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_topic mt30">
                <div class="index_rtit cl">
                    <h2>$tmplang['edit_recommend']</h2>
                    <a href="#" target="_blank" class="more">MORE<em></em></a>
                </div>
                <div class="index_topic_c">
                    <!--[diy=diyindex_topic]--><div id="diyindex_topic" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_express mt30">
                <div class="index_rtit cl">
                    <h2>$tmplang['hot_recommend']</h2>
                    <a href="#" target="_blank" class="more">MORE<em></em></a>
                </div>
                <div class="index_express_c">
                    <!--[diy=diyindex_express]--><div id="diyindex_express" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_author mt30">
                <div class="index_rtit cl">
                    <h2>$tmplang['hot_author']</h2>
                    <a href="#" target="_blank" class="more">MORE<em></em></a>
                </div>
                <div class="index_author_c">
                    <!--[diy=diyindex_author]--><div id="diyindex_author" class="area"></div><!--[/diy]-->
                </div>
            </div>
            <div class="index_weekly mt30">
                <div class="index_rtit cl">
                    <h2>$tmplang['hot_article']</h2>
                    <a href="#" target="_blank" class="more">MORE<em></em></a>
                </div>
                <div class="index_weekly_c">
                    <div class="index_weekly_t">
                        <!--[diy=diyindex_weekly_t]--><div id="diyindex_weekly_t" class="area"></div><!--[/diy]-->
                    </div>
                    <div class="index_weekly_b">
                        <!--[diy=diyindex_weekly_b]--><div id="diyindex_weekly_b" class="area"></div><!--[/diy]-->
                    </div>
                </div>
            </div>
            <div class="index_key mb10">
                <div class="index_rtit mt30 cl">
                    <h2>$tmplang['hot_tag']</h2>
                </div>
                <!--{if $hottag}--> 	
                <div class="index_key_c cl">
                    <!--{loop $hottag $taglist}-->		
                        <a href="misc.php?mod=tag&id=$taglist[tagid]" title="$taglist[tagname]" target="_blank">$taglist[tagname]</a>
                    <!--{/loop}-->
                </div>
                <!--{/if}-->
            </div>
        </div>
    </div>
</div>
<div class="index_link" style="display: none;">
	<div class="wp">
    	<h2>$tmplang['link']</h2>
        <ul class="cl">
        	<!--[diy=diyindex_link]--><div id="diyindex_link" class="area"></div><!--[/diy]-->
        </ul>
    </div>
</div>

<script type="text/javascript">
	jq(".index_slide").slide({ mainCell:".bd ul",titCell:".hd li",delayTime:600,interTime:5000,triggerTime:50,effect:"leftLoop",autoPlay:true,});
	jq(".index_slide").hover(function(){
	jq(".index_slide .slide-nav").fadeIn();
	},function(){
	jq(".index_slide .slide-nav").fadeOut();
	})
	jq(".index_news_c").slide({ mainCell:".bd ul", effect:"topLoop", delayTime:600,interTime:4000,vis:7,scroll:7,trigger:"click",
	startFun:function(){
        jq(".change").addClass("push");
    },
    endFun:function(){
        jq(".change").removeClass("push");
    }});
	jq(".index_topic_c").slide({ mainCell:".bd ul",titCell:".hd li",delayTime:400,interTime:5000,triggerTime:50,effect:"leftLoop",autoPlay:true,});
	jq(".index_topic_c").hover(function(){
	jq(".index_topic_c .slide-nav").fadeIn();
	},function(){
	jq(".index_topic_c .slide-nav").fadeOut();
	})
</script>


<script type="text/javascript">
    jq(function() {
	jq(".article_js_pages").jPages({
		containerID: "article_js_list",perPage:15,previous: "prev",next: "next"		
	});
	jq(".article_js_pages").click(function(){
		jq('body,html').animate({scrollTop:700},500);
		return false;
		});
	});
</script>

<script type="text/javascript">
jq(function() { 
jq(".wic_article_pic a img").each(function(s){
var vthwbjtjsrc = jq(this).attr("src");
if( vthwbjtjsrc == "static/image/common/nophoto.gif"){
jq(this).parent().parent().parent(".wic_article_box").addClass("on");
}
})
}); 
</script>






<script src="misc.php?mod=diyhelp&action=get&type=index&diy=yes&r={echo random(4)}" type="text/javascript"></script>
<!--{template common/footer}-->



