@charset "UTF-8";
	html,body {
	background:#fff;
	-webkit-font-smoothing:antialiased;
	font-size:13px
}
* {
	box-sizing:border-box;
	font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
	-webkit-tap-highlight-color:rgba(0,0,0,0);
	-webkit-tap-highlight-color:transparent
}
[placeholder]::-webkit-input-placeholder,[placeholder]::-moz-placeholder,[placeholder]:-ms-input-placeholder {
	font-family:"Lantinghei SC","Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif
}
a {
	color:#333333;
	-webkit-transition:all 0.2s ease;
	transition:all 0.2s ease;
	text-decoration:none
}
a:hover {
	color:#4285f4
}
.container {
	margin:0 auto
}
@media (min-width:1200px) {
	.container {
	width:1170px
}
}@media (min-width:800px) and (max-width:1200px) {
	.container {
	width:1000px
}
}@media (max-width:800px) {
	.container {
	width:auto
}
}.clearfix {
	*zoom:1
}
.clearfix:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.rows {
	*zoom:1
}
.rows:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:1200px) {
	.rows {
	margin-top:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.rows {
	margin-top:20px
}
}.col-sub {
	float:left
}
@media (min-width:1200px) {
	.col-sub {
	width:330px;
	margin-right:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.col-sub {
	width:280px;
	margin-right:20px
}
}@media (max-width:800px) {
	.col-sub {
	float:none
}
}.col-main {
	float:right
}
@media (min-width:1200px) {
	.col-main {
	width:810px
}
}@media (min-width:800px) and (max-width:1200px) {
	.col-main {
	width:700px
}
}@media (max-width:800px) {
	.col-main {
	float:none
}
}.brand-link {
	color:#4285f4
}
.brand-link:hover {
	color:#2c79b0
}
.badge-base {
	position:relative
}
.badge-base:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-base:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-tv {
	position:relative;
	overflow:hidden
}
.badge-tv:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-tv:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-tv:after {
	content:"氪TV";
	background:#f45170;
	z-index:15
}
.badge-tv:before {
	content:" ";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	-webkit-transition:all 0.4s ease;
	transition:all 0.4s ease;
	background:rgba(0,0,0,0.3) url(http://kryptoners.b0.upaiyun.com/assets/icon-bofang-ee3db58a3ba9592e0484162dd88ad491.png) no-repeat center center;
	background-size:40px;
	z-index:10;
	opacity:0.8
}
@media (max-width:800px) {
	.badge-tv:before {
	background-size:28px
}
}.badge-tv:hover:before {
	opacity:1;
	background-color:rgba(0,0,0,0.3)
}
.badge-o2o {
	position:relative
}
.badge-o2o:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-o2o:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-o2o:after {
	content:"O2O";
	background:#f0cc23
}
.badge-hardware {
	position:relative
}
.badge-hardware:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-hardware:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-hardware:after {
	content:"新硬件";
	background:#a289df
}
.badge-fun {
	position:relative
}
.badge-fun:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-fun:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-fun:after {
	content:"Fun!!";
	background:#ff6161
}
.badge-enterprise {
	position:relative
}
.badge-enterprise:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-enterprise:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-enterprise:after {
	content:"企业服务";
	background:#678ce0
}
.badge-sports {
	position:relative
}
.badge-sports:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-sports:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-sports:after {
	content:"Fit&Health";
	background:#42d1db
}
.badge-edu {
	position:relative
}
.badge-edu:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-edu:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-edu:after {
	content:"在线教育";
	background:#51cc96
}
.badge-finance {
	position:relative
}
.badge-finance:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-finance:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-finance:after {
	content:"互联网金融";
	background:#f28d19
}
.badge-company {
	position:relative
}
.badge-company:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-company:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-company:after {
	content:"大公司";
	background:#1f90f2
}
.badge-activity {
	position:relative
}
.badge-activity:after {
	position:absolute;
	top:0;
	left:0;
	color:#ffffff;
	padding:2px 10px;
	font-size:12px;
	display:block
}
@media (max-width:800px) {
	.badge-activity:after {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.badge-activity:after {
	content:"近期活动";
	background:#8ab724
}
.ad-wrapper {
	position:relative
}
.ad-wrapper:before {
	content:"推广";
	display:block;
	position:absolute;
	top:0;
	right:0;
	font-size:12px;
	color:#fff;
	background:#7c91c2;
	padding:0px 10px
}
@media (max-width:800px) {
	.ad-wrapper:before {
	padding:0px 6px;
	font-size:10px;
	line-height:1.6
}
}.radius-box {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05)
}
@media (max-width:800px) {
	.mobile-hide {
	display:none !important
}
}.mobile-show {
	display:none
}
@media (max-width:800px) {
	.mobile-show {
	display:block
}
}.article-detail-wrap {
	margin:0 auto
}
@media (max-width:800px) {
	.article-detail-wrap {
	padding:10px
}
}@media (min-width:1200px) {
	.article-detail-wrap {
	width:1170px
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap {
	width:1000px
}
}@media (max-width:800px) {
	.article-detail-wrap {
	width:auto
}
}.article-detail-wrap .main-section {
	*zoom:1
}
.article-detail-wrap .main-section:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:1200px) {
	.article-detail-wrap .main-section {
	margin-top:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section {
	margin-top:20px
}
}.article-detail-wrap .main-section .content-wrapper {
	float:left
}
@media (min-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper {
	width:810px
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper {
	width:700px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper {
	float:none
}
}.article-detail-wrap .main-section .content-wrapper.focus-edition {
	float:none;
	margin:0 auto
}
.article-detail-wrap .main-section .content-wrapper article.single-post {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	background:#ffffff;
	padding:35px
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post {
	padding:25px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post {
	padding:20px 15px
}
}.article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
	font-size:24px;
	font-weight:600;
	margin-bottom:20px;
	text-align:left
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
	margin-bottom:15px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post header h1 {
	font-size:17px
}
}.article-detail-wrap .main-section .content-wrapper article.single-post .author {
	margin:15px 0 8px;
	color:#aaaaaa
}
.article-detail-wrap .main-section .content-wrapper article.single-post .author a {
	color:#4285f4
}
.article-detail-wrap .main-section .content-wrapper article.single-post .author a:hover {
	color:#2c79b0
}
.article-detail-wrap .main-section .content-wrapper article.single-post .author .avatar {
	vertical-align:middle;
	display:inline-block;
	width:25px;
	height:25px;
	background:no-repeat center center;
	background-size:cover;
	margin-right:6px;
	border-radius:50%
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post .author .avatar {
	width:20px;
	height:20px;
	position:relative;
	top:-2px;
	margin-right:3px
}
}.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline {
	text-align:center;
	margin:20px 0;
	position:relative
}
.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline img {
	width:100%;
	display:block;
	margin:0 auto
}
.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline small {
	position:absolute;
	left:0;
	bottom:0;
	padding:0 5px;
	background:rgba(0,0,0,0.5)
}
.article-detail-wrap .main-section .content-wrapper article.single-post .single-post-header__headline small a {
	color:#fff;
	font-size:12px
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.ad {
	font-size:15px;
	margin:25px 0 0;
	color:#666666
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post section.ad {
	font-size:13px
}
}.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share {
	*zoom:1;
	padding:25px 0 0;
	margin-top:25px;
	border-top:solid 1px #f4f4f4
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions {
	float:left;
	*zoom:1
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li {
	list-style:none;
	float:left;
	margin-right:70px
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a {
	display:block;
	position:relative;
	box-shadow:none
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a i {
	width:28px;
	height:28px;
	background:#7791b0;
	display:block;
	text-align:center;
	line-height:28px;
	color:#ffffff;
	border-radius:50%;
	font-size:17px;
	position:relative
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a i:nth-of-type(2) {
	position:absolute;
	top:0;
	left:0;
	background:none !important
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a.is-favorite i {
	color:#fff133
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a.icon-fly i:nth-of-type(2) {
	-webkit-transition:all 0.6s ease;
	transition:all 0.6s ease;
	opacity:0;
	-webkit-transform:translate(-8px,-30px) scale(2) rotate(-45deg);
	-ms-transform:translate(-8px,-30px) scale(2) rotate(-45deg);
	transform:translate(-8px,-30px) scale(2) rotate(-45deg)
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a:hover i {
	background:#6378b0
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a span {
	position:absolute;
	left:100%;
	top:50%;
	-webkit-transform:translate(0,-50%);
	-ms-transform:translate(0,-50%);
	transform:translate(0,-50%);
	padding:0 5px;
	background:#f4f4f4;
	border:solid 1px #e9eaec;
	border-radius:3px;
	margin-left:10px;
	line-height:24px;
	color:#666666;
	font-family:arial,sans-serif
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share ul.actions li a span:after {
	position:absolute;
	top:8px;
	left:-4px;
	content:" ";
	width:6px;
	height:6px;
	-webkit-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	transform:rotate(45deg);
	border:solid 1px #e9eaec;
	border-width:0 0 1px 1px;
	background:#f4f4f4
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share .single-post-share-list {
	float:right;
	color:#666666;
	width:309px;
	-webkit-transition:all 0.3s ease;
	transition:all 0.3s ease;
	white-space:nowrap
}
.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share .single-post-share-list.hide-external {
	width:184px;
	overflow:hidden
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper article.single-post section.single-post-share .single-post-share-list.hide-external {
	width:auto
}
}.article-detail-wrap .main-section .content-wrapper section.mobile-author {
	display:none;
	margin-top:15px
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper section.mobile-author {
	display:block
}
}.article-detail-wrap .main-section .content-wrapper section.mobile-author .author {
	padding:25px;
	background:#f3f7fb;
	margin-bottom:20px;
	word-spacing:0;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	white-space:nowrap
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper section.mobile-author .author {
	padding:15px
}
}.article-detail-wrap .main-section .content-wrapper section.mobile-author .author .avatar {
	display:inline-block;
	width:60px;
	height:60px;
	border-radius:50%;
	background:#aaaaaa no-repeat center center;
	background-size:cover;
	margin-right:15px;
	vertical-align:top
}
.article-detail-wrap .main-section .content-wrapper section.mobile-author .author .desc {
	overflow:hidden;
	display:inline-block;
	width:200px;
	vertical-align:middle;
	white-space:normal
}
.article-detail-wrap .main-section .content-wrapper section.mobile-author .author .desc .name {
	font-size:17px;
	font-weight:600;
	display:inline-block
}


.article-detail-wrap .main-section .content-wrapper section.mobile-author .author .desc .badge {
	font-size:12px;
	color:#fff;
	background:#6b9edb;
	padding:0px 3px;
	border-radius:2px;
	margin-left:4px;
	position:relative;
	top:-2px;
	vertical-align:middle
}
.article-detail-wrap .main-section .content-wrapper section.mobile-author .author .desc .brief {
	margin-top:5px;
	color:#666666
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate {
	margin-top:15px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul {
	*zoom:1
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li {
	float:left;
	margin-left:21px;
	width:256px;
	padding:20px;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	background:#ffffff;
	*zoom:1
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li {
	width:220px;
	margin-left:20px;
	padding:15px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li {
	float:none;
	margin:0 0 10px;
	width:auto;
	padding:15px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li>a {
	float:left;
	width:90px;
	height:65px;
	margin-right:10px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li>a .image {
	height:65px
}
}.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li:first-of-type {
	margin-left:0
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li .image {
	height:140px;
	overflow:hidden;
	width:100%
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li .image img {
	min-width:100%;
	height:100%;
	display:block
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li .title {
	margin-top:15px;
	height:72px;
	overflow:hidden;
	line-height:24px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li .title h3 a {
	font-size:15px;
	font-weight:600
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper section.single-post-relate ul li .title {
	overflow:hidden;
	margin-top:8px;
	height:44px;
	line-height:22px
}
}.article-detail-wrap .main-section .content-wrapper section.single-post-comment {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	background:#ffffff;
	margin-top:20px;
	padding:30px
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .content-wrapper section.single-post-comment {
	padding:20px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .content-wrapper section.single-post-comment {
	padding:20px
}
}.article-detail-wrap .main-section .content-wrapper section.single-post-comment h2 {
	margin-bottom:15px;
	font-size:15px;
	font-weight:600
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment a {
	color:#4285f4
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment a:hover {
	color:#2c79b0
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .textarea {
	width:100%;
	background:#f3f7fb;
	border:solid 1px #ebeff5;
	padding:10px;
	resize:none;
	height:120px;
	font-size:15px;
	border-radius:3px;
	-webkit-transition:all 1s ease;
	transition:all 1s ease;
	-webkit-appearance:none
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .textarea::-moz-placeholder,.article-detail-wrap .main-section .content-wrapper section.single-post-comment .textarea::-webkit-input-placeholder {
	color:#aaaaaa;
	font-size:15px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .textarea:focus {
	background:#ffffff
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom {
	margin-top:15px;
	*zoom:1;
	padding-bottom:20px;
	border-bottom:solid 1px #f4f4f4
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom .meta {
	float:left
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom .meta .avatar {
	width:28px;
	height:28px;
	border-radius:50%;
	display:inline-block;
	margin-right:10px;
	vertical-align:middle;
	background:#aaaaaa no-repeat center center;
	background-size:cover
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom .meta .username,.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom .meta .username:hover {
	cursor:default;
	color:#333333
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom button {
	float:right;
	width:100px;
	height:30px;
	background:#4285f4;
	color:#ffffff;
	text-align:center;
	line-height:30px;
	border-radius:2px;
	cursor:pointer;
	border:0;
	padding:0;
	font-size:13px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .bottom button:hover {
	background:#3798de
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details {
	padding-bottom:15px;
	padding-top:15px;
	*zoom:1
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .avatar {
	float:left;
	margin-right:10px
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .avatar a {
	width:40px;
	height:40px;
	position:relative;
	border-radius:50%;
	overflow:hidden;
	display:block;
	cursor:default
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .avatar a img {
	width:100%;
	height:100%;
	overflow:hidden;
	display:block;
	border-radius:50%
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper {
	overflow:hidden
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper .postmeta {
	font-size:12px;
	margin-bottom:4px;
	color:#aaaaaa
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper .postmeta .comment-reply-link{
	float:right;
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper .postmeta a,.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper .postmeta a:hover {
	cursor:pointer;
	color:#333333
}
.article-detail-wrap .main-section .content-wrapper section.single-post-comment .comment_details .comment-wrapper .comment-main {
	font-size:15px
}
.article-detail-wrap .main-section .article-side {
	float:left
}
@media (min-width:1200px) {
	.article-detail-wrap .main-section .article-side {
	width:330px;
	margin-right:30px
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side {
	width:280px;
	margin-right:20px
}
}@media (max-width:800px) {
	.article-detail-wrap .main-section .article-side {
	float:none
}
}.article-detail-wrap .main-section .article-side .block.ad {
	width:330px;
	height:300px;
	margin-bottom:20px
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .article-side .block.ad {
	display:none !important
}
}.article-detail-wrap .main-section .article-side .block.ad a {
	width:100%;
	height:100%;
	display:block;
	background:no-repeat center center;
	background-size:cover
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .block.ad {
	width:100%;
	height:260px
}
}.article-detail-wrap .main-section .article-side .author {
	padding:25px;
	background:#f3f7fb;
	margin-bottom:20px;
	word-spacing:0;
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	white-space:nowrap
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .article-side .author {
	display:none !important
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .author {
	padding:15px
}
}.article-detail-wrap .main-section .article-side .author .avatar {
	display:inline-block;
	width:60px;
	height:60px;
	border-radius:50%;
	background:#aaaaaa no-repeat center center;
	background-size:cover;
	margin-right:15px;
	vertical-align:top
}
.article-detail-wrap .main-section .article-side .author .desc {
	overflow:hidden;
	display:inline-block;
	width:200px;
	vertical-align:middle;
	white-space:normal
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .author .desc {
	width:160px
}
}.article-detail-wrap .main-section .article-side .author .desc .name {
	font-size:17px;
	font-weight:600;
	display:inline-block
}
.article-detail-wrap .main-section .article-side .author .desc .badge {
	font-size:12px;
	color:#fff;
	background:#6b9edb;
	padding:0px 3px;
	border-radius:2px;
	margin-left:4px;
	position:relative;
	top:-2px;
	vertical-align:middle
}
.article-detail-wrap .main-section .article-side .author .desc .brief {
	margin-top:5px;
	color:#666666
}
.article-detail-wrap .main-section .article-side .vendor-links {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	padding:20px 25px;
	background:#ffffff;
	margin-bottom:20px
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .article-side .vendor-links {
	display:none !important
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .vendor-links {
	padding:15px
}
}.article-detail-wrap .main-section .article-side .vendor-links h3 {
	font-size:13px;
	font-weight:600
}
.article-detail-wrap .main-section .article-side .vendor-links article {
	*zoom:1;
	margin-top:20px
}
.article-detail-wrap .main-section .article-side .vendor-links article:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .vendor-links article {
	margin-top:15px
}
}.article-detail-wrap .main-section .article-side .vendor-links article .image {
	float:left;
	margin-right:15px
}
.article-detail-wrap .main-section .article-side .vendor-links article a {
	margin-top:5px
}
.article-detail-wrap .main-section .article-side .top-articles {
	border-radius:2px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
	padding:20px 25px;
	background:#ffffff;
	margin-bottom:20px
}
@media (max-width:800px) {
	.article-detail-wrap .main-section .article-side .top-articles {
	display:none !important
}
}@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .top-articles {
	padding:15px
}
}.article-detail-wrap .main-section .article-side .top-articles h3 {
	font-size:13px;
	font-weight:600
}
.article-detail-wrap .main-section .article-side .top-articles article {
	*zoom:1;
	margin-top:20px
}
.article-detail-wrap .main-section .article-side .top-articles article:after {
	content:'';
	display:block;
	clear:both;
	height:0
}
@media (min-width:800px) and (max-width:1200px) {
	.article-detail-wrap .main-section .article-side .top-articles article {
	margin-top:15px
}
}.article-detail-wrap .main-section .article-side .top-articles article .pic {
	width:80px;
	height:60px;
	background:#666666 no-repeat center center;
	background-size:cover;
	margin-right:10px;
	float:left
}
.article-detail-wrap .main-section .article-side .top-articles article .desc {
	overflow:hidden
}
.article-detail-wrap .main-section .article-side .top-articles article .desc .title {
	display:inline-block;
	max-height:60px;
	line-height:20px;
	font-weight:600;
	overflow:hidden
}
