/**
 * Widget Styles
 */

/*--------------------------------------------------------------
# Admin input
--------------------------------------------------------------*/
.dt-admin-input-wrap {
    margin-top: 15px;
}

.dt-admin-input-wrap:last-child {
    margin-bottom: 15px;
}

.dt-admin-input-wrap a {
    text-decoration: none;
}

.dt-admin-input-wrap label {
    font-weight: bold;

    display: inline-block;

    width: 96px;

    float: left;

    margin-top: 12px;
}

.dt-admin-input-wrap input[type='text'],
.dt-admin-input-wrap input[type='email'],
.dt-admin-input-wrap input[type='number'],
.dt-admin-input-wrap input[type='phone'],
.dt-admin-input-wrap input[type='password'],
.dt-admin-input-wrap input[type='url'],
.dt-admin-input-wrap input[type='number'],
.dt-admin-input-wrap select,
.dt-admin-input-wrap textarea {
    width: calc( 100% - 104px );
    padding: 8px 10px;

    box-shadow: none;
}

.dt-admin-input-wrap select,
.dt-admin-input-wrap input[type='number'] {
    height: 38px;
}

.dt-admin-input-wrap img {
    max-width: calc( 100% - 115px );
    height: auto;
    margin-bottom: 15px;

    border: 6px solid #fff;
    box-shadow: 0 0 1px #ccc;
}

.dt-img-upload {
    margin: 0 96px;
    padding: 8px 20px;

    cursor: pointer;
    -webkit-transition: all .35s ease;
    -moz-transition: all .35s ease;
    -o-transition: all .35s ease;
    transition: all .35s ease;


    border: 2px dashed #ddd;
    border-radius: 3px;
    outline: none !important;
    background: #fdfdfd;
    font-weight: bold;
    font-size: 13px;
    text-transform: capitalize;
    color: #888;
}

.dt-img-upload:hover {
    border-color: #888;
    color: #555;
}

.dt-admin-radio-wrap {
    margin-top: -30px;
    padding-left: 102px;
}

.dt-admin-slider-wrap,
.dt-admin-logos-wrap {
    border: 1px solid #e5e5e5;
    padding: 10px;
    margin-top: 15px;
    background: #fdfdfd;
}

.dt-admin-slider-wrap:last-child,
.dt-admin-logos-wrap:last-child {
    margin-bottom: 15px;
}

.dt-admin-testimonials {
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e5e5e5;
}

.dt-admin-testimonials textarea {
    min-height: 100px;
}
